fuzzywuzzy==0.18.0
GitPython==3.1.44
GitPython==3.1.44
matplotlib==3.10.0
nltk==3.9.1
numpy==2.2.1
pandas==2.2.3
python_hglib==2.6.2
spacy==3.8.3
tabulate==0.9.0
whatthepatch==1.0.7
python-Levenshtein==0.26.1